@*controllerdan bu sayfaya bir liste gönderdiğimiz için Ienumarable içine aldık diğer türlü foreachle dönemezdik*@
@model IEnumerable<MvcBlogApp.Models.BlogModel>
@{
    ViewBag.Title = "Index";
}

<h2>Blog Listesi</h2>
@Html.Partial("BlogList", Model)

@section RightColumn{
    <div style="margin-top:20px;">
        @Html.Partial("Search")
        @{ Html.RenderAction("CategoryList", "Category");}
    </div>
}


